.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding: 0px 20px;

    font-size: 13px;
    letter-spacing: 1.5px;
    font-family: 'Roboto Mono', monospace;

    background-color: #0b0c10;
}

.Nav-menu {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.Nav-item {
    cursor: pointer;
    transition: all 0.5s ease;
}

.Nav-item:hover {
    color: #45A29E;
}

#number {
    color: #45A29E;
}

.Nav-menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .Nav-menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 80%);
        font-size: 1.4rem;
        cursor: pointer;  
    }

    .Nav {
        position: relative;
    }

    .Nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }

    .Nav-menu.active {
        background: #213142;
        left: 0;
        opacity: 1;
        z-index: 1;
    }

    .Nav-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
    }

}